<<<<<<< HEAD
{% extends "base.html.twig" %}

{% block title %}
	Compte rendu téléchargement
{% endblock %}
{% block body %}

	{% include "exploitation/_tab02.html.twig" with {'titgficett' : titgficett,'titgficpst': titgficpst} %}


{% endblock %}
=======
{% extends "base.html.twig" %}

{% block title %}
	Compte rendu téléchargement
{% endblock %}
{% block body %}

	{% include "exploitation/_tab02.html.twig" with {'titgficett' : titgficett,'titgficpst': titgficpst} %}


{% endblock %}
>>>>>>> demo
