<<<<<<< HEAD:templates/tdownload/index.html.twig
{% extends 'base.html.twig' %}

{% block title %}Hello TdownloadController!{% endblock %}

{% block body %}
<style>
    .example-wrapper { margin: 1em auto; max-width: 800px; width: 95%; font: 18px/1.5 sans-serif; }
    .example-wrapper code { background: #F5F5F5; padding: 2px 6px; }
</style>

<div class="example-wrapper">
    <h1>Hello {{ controller_name }}! ✅</h1>

    This friendly message is coming from:
    <ul>
        <li>Your controller at <code><a href="{{ 'C:/OJ/projet/php/dyadem_intranet/src/Controller/TdownloadController.php'|file_link(0) }}">src/Controller/TdownloadController.php</a></code></li>
        <li>Your template at <code><a href="{{ 'C:/OJ/projet/php/dyadem_intranet/templates/tdownload/index.html.twig'|file_link(0) }}">templates/tdownload/index.html.twig</a></code></li>
    </ul>
</div>
{% endblock %}
=======
{% extends 'base.html.twig' %}

{% block title %}Hello TdownloadController!{% endblock %}

{% block body %}
<style>
    .example-wrapper { margin: 1em auto; max-width: 800px; width: 95%; font: 18px/1.5 sans-serif; }
    .example-wrapper code { background: #F5F5F5; padding: 2px 6px; }
</style>

<div class="example-wrapper">
    <h1>Hello {{ controller_name }}! ✅</h1>

    This friendly message is coming from:
    <ul>
        <li>Your controller at <code><a href="{{ 'C:/OJ/projet/php/dyadem_intranet/src/Controller/TdownloadController.php'|file_link(0) }}">src/Controller/TdownloadController.php</a></code></li>
        <li>Your template at <code><a href="{{ 'C:/OJ/projet/php/dyadem_intranet/templates/tdownload/index.html.twig'|file_link(0) }}">templates/tdownload/index.html.twig</a></code></li>
    </ul>
</div>
{% endblock %}
>>>>>>> demo:templates/gritar/index.html.twig
