<<<<<<< HEAD
<<<<<<< HEAD:templates/cotation/cotCM.html.twig
{% extends 'base.html.twig' %}

{% block title %}
	{{titre1}}{{titre2}}
{% endblock %}

{% block body %}
	{% include "shared/_breadcrumb_02_fiche.html.twig" with {'var01' : 'Cotation','var02':titre1,'var10':'cot_gst'} %}


	{{ form_start(formView) }}
	{{ form_widget(formView) }}
	{% include "shared/_submit_enregistrer.html.twig"%}
	{{form_end(formView)}}
{% endblock %}
=======
=======
>>>>>>> demo
{% extends 'base.html.twig' %}

{% block title %}
	{{titre1}}{{titre2}}
{% endblock %}

{% block body %}
<<<<<<< HEAD
	{% include "shared/_breadcrumb_02_fiche.html.twig" with {'var01' : 'Modèle','var02':titre1,'var10':'mdl_gst'} %}

	{{ form_start(formView) }}
	{{ form_widget(formView) }}
	{% include "shared/_submit_enregistrer.html.twig"%}
	{{form_end(formView)}}
{% endblock %}
>>>>>>> demo:templates/modele/mdlCM.html.twig
=======
	{% include "shared/_breadcrumb_02_fiche.html.twig" with {'var01' : 'Cotation','var02':titre1,'var10':'cot_gst'} %}


	{{ form_start(formView) }}
	{{ form_widget(formView) }}
	{% if action != '03' %}
		{% include "shared/_submit_enregistrer.html.twig"%}
	{% endif %}
	{{form_end(formView)}}
{% endblock %}
>>>>>>> demo
