<<<<<<< HEAD
{{ form_start(form2) }}
<h6>libelle</h6>
{{form_row(tgritarpst.libArt)}}
{{form_end(form2)}}
=======
{{ form_start(form2) }}
{{tgritarpst.clrArt}}


<h6>libelle</h6>
{{form_row(tgritarpst.libArt)}}
{{form_end(form2)}}

>>>>>>> demo
