<<<<<<< HEAD
{% extends "base.html.twig" %}

{% block title %}
	artfou
{% endblock %}
{% block body %}

	{% include "shared/_breadcrumb_01.html.twig" with {'var01' : 'Base article','var02':'Article-fournisseur','var03':tartfou|length,'var10':'artfou_creat','var11':'ARTFOU'} %}
	<div class="container-fluid">
		<div class="row">
			<div class="col-md-2">
				{% include 'shared/_filtreArt.html.twig' with { form: form,allow_extra_fields:allow_extra_fields} %}</div>
			<div class="col-md-10">
				{% include 'artfou/_tab.html.twig' with {tartfou:tartfou} %}
			</div>
		</div>
	</div>


{% endblock %}
=======
{% extends "base.html.twig" %}

{% block title %}
	artfou
{% endblock %}
{% block body %}

	{% include "shared/_breadcrumb_01.html.twig" with {'var01' : 'Base article','var02':'Article-fournisseur','var03':tartfou|length,'var10':'artfou_creat','var11':'ARTFOU'} %}
	<div class="container-fluid">
		<div class="row">
			<div class="col-md-2">
				{% include 'shared/_filtreArt.html.twig' with { form: form,allow_extra_fields:allow_extra_fields} %}</div>
			<div class="col-md-10">
				{% include 'artfou/_tab.html.twig' with {tartfou:tartfou} %}
			</div>
		</div>
	</div>


{% endblock %}
>>>>>>> demo
