<<<<<<< HEAD
{% extends 'base.html.twig' %}

{% block title %}
	{{titre1}}{{titre2}}
{% endblock %}

{% block body %}
	{% include "shared/_breadcrumb_02_fiche.html.twig" with {'var01' : 'Client','var02':titre1,'var10':'cli_gst'} %}
	{{ form_start(formView01) }}
	{{ form_widget(formView01) }}
	{% include "shared/_submit_enregistrer.html.twig"%}
	{{form_end(formView01)}}

{% endblock %}
=======
{% extends 'base.html.twig' %}

{% block title %}
	{{titre1}}{{titre2}}
{% endblock %}

{% block body %}
	{% include "shared/_breadcrumb_02_fiche.html.twig" with {'var01' : 'Client','var02':titre1,'var10':'cli_gst'} %}
	{{ form_start(formView01) }}
	{{ form_widget(formView01) }}
	{% include "shared/_submit_enregistrer.html.twig"%}
	{{form_end(formView01)}}

{% endblock %}
>>>>>>> demo
