<<<<<<< HEAD:templates/cotcli/cotcliCM.html.twig
{% extends 'base.html.twig' %}

{% block title %}Creation cotation-client
{% endblock %}

{% block body %}
	{% include "shared/_breadcrumb_02_fiche.html.twig" with {'var01' : 'Cotation-client','var02':'Création','var10':'cotcli_gst'} %}

	{{ form_start(formView)}}

	{{ form_errors(formView)}}

	{{ form_widget(formView)}}


	{% include "shared/_submit_enregistrer.html.twig"%}

	{{ form_end(formView)}}
{% endblock %}
=======
{% extends 'base.html.twig' %}

{% block title %}Creation cotation-client
{% endblock %}

{% block body %}
	{% include "shared/_breadcrumb_02_fiche.html.twig" with {'var01' : 'Cotation-client','var02':'Création','var10':'cotcli_gst'} %}

	{{ form_start(formView)}}

	{{ form_errors(formView)}}

	{{ form_widget(formView)}}


	{% include "shared/_submit_enregistrer.html.twig"%}

	{{ form_end(formView)}}
{% endblock %}
>>>>>>> demo:templates/cotorg/cotorgModif.html.twig
