<<<<<<< HEAD
{% extends "base.html.twig" %}

{% block title %}
	cotation-client
{% endblock %}
{% block body %}

	{% include "shared/_breadcrumb_01.html.twig" with {'var01' : 'Donnée de base','var02':'Cotation-client','var03':tcotcli|length,'var10':'cotcli_creat','var11':'COTCLI'} %}

	<div class="row">
		<div class="col-md-2">
			{% include 'cotcli/_filtreCotcli.html.twig' with { form: form} %}</div>
		<div class="col-md-10">
			{% include "cotcli/_tab.html.twig" with {'tcotcli' : tcotcli} %}
		</div>
	</div>

{% endblock %}
=======
{% extends "base.html.twig" %}

{% block title %}
	cotation-client
{% endblock %}
{% block body %}

	{% include "shared/_breadcrumb_01.html.twig" with {'var01' : 'Donnée de base','var02':'Cotation-client','var03':tcotcli|length,'var10':'cotcli_creat','var11':'COTCLI'} %}

	<div class="row">
		<div class="col-md-2">
			{% include 'cotcli/_filtreCotcli.html.twig' with { form: form} %}</div>
		<div class="col-md-10">
			{% include "cotcli/_tab.html.twig" with {'tcotcli' : tcotcli} %}
		</div>
	</div>

{% endblock %}
>>>>>>> demo
