<<<<<<< HEAD
{% extends 'base.html.twig' %}

{% block title %}
	{{titre1}}{{titre2}}
{% endblock %}

{% block body %}
	{% include "shared/_breadcrumb_02b_fiche.html.twig" with {'var01' : 'Grille tarifaire','var02':titre1,'var10':'gtaettorg_gst','var10id':tgritarett.clrOrg.id} %}
	{# <ol class="breadcrumb">
													<li class="breadcrumb-item">
														<a href="{{ path('gtaettorg_gst',{'id': tgritarett.clrOrg.id }) }}">Grille tarifaire</a>
													</li>
											
													<li class="breadcrumb-item active">Création</li>
												</ol> #}

	{{ form_start(formView) }}
	{{ form_widget(formView) }}
	{% include "shared/_submit_enregistrer.html.twig"%}
	{{form_end(formView)}}
{% endblock %}
=======
{% extends 'base.html.twig' %}

{% block title %}
	{{titre1}}{{titre2}}
{% endblock %}

{% block body %}
	{% include "shared/_breadcrumb_02b_fiche.html.twig" with {'var01' : 'Grille tarifaire','var02':titre1,'var10':'gtaettcli_gst','var10id':idCli} %}

	{{ form_start(formView) }}
	{{ form_widget(formView) }}
	{% include "shared/_submit_enregistrer.html.twig"%}
	{{form_end(formView)}}
{% endblock %}
>>>>>>> demo
