{% extends "base.html.twig" %}

{% block title %}
	grille_tarifaire-organisation
{% endblock %}
{% block body %}
	{% include "shared/_breadcrumb_03.html.twig" with {'var01' : 'Grille tarifaire','var02':'Organisation','var02p':'org_gst_bis','var03':'Grilles tarifaires','var10':'gtaettorg_creat','var10id':idOrg} %}
	{% include "gritar/_tab_ettorg.html.twig" with {'tgritarett' : tgritarett} %}

{% endblock %}
