<table class="table table-sm" data-toggle="table" data-search="true" data-show-columns="true" data-show-pagination-switch="true" data-pagination="true" data-id-field="cod" data-page-list="[50, 100, all]" data-show-export="true">
	<thead class="thead-light">
		<tr>

			<th data-sortable="true">Code organisation</th>
			<th data-sortable="true">Nom</th>
			<th data-sortable="true">Cp</th>
			<th data-sortable="true">Localité</th>
			<th data-sortable="true">Commercial</th>
			<th data-sortable="true">Grille tarifaire</th>

		</tr>
	</thead>

	<tbody>

		{% for org in torganisation %}
			<tr>

				<td>
					{{org.cod}}
				</td>
				<td>{{org.nom}}</td>
				<td>{{org.cp}}</td>
				<td>{{org.lclt}}</td>
				<td>{{org.clrCml.cod}}</td>
				<td>
					<a href="{{path('gtaettorg_gst',{'id': org.id })}}">{{org.tgritaretts.count}}</a>
				</td>
			</tr>

		{% endfor %}

	</tbody>
</table>
