{% extends "base.html.twig" %}

{% block title %}
	organisation
{% endblock %}
{% block body %}
	{% include "shared/_breadcrumb_01.html.twig" with {'var01' : 'Grille tarifaire','var02':'Organisation','var03':torganisation|length,'var10':'','var11':'GTA'} %}

	{% include "organisation/_tabBis.html.twig" with {'torganisation' : torganisation} %}

{% endblock body %}
