<<<<<<< HEAD
{% extends "base.html.twig" %}

{% block title %}
	utilisateur-commercial
{% endblock %}
{% block body %}
	{% include "shared/_breadcrumb_01.html.twig" with {'var01' : 'Adminstration','var02':'Utilisateur-commercial','var03':tusrcml|length,'var10':'usrcml_creat','var11':'USRCML'} %}
	{% include "usrcml/_tab.html.twig" with {'tuser' : tusrcml} %}

{% endblock %}
=======
{% extends "base.html.twig" %}

{% block title %}
	utilisateur-commercial
{% endblock %}
{% block body %}
	{% include "shared/_breadcrumb_01.html.twig" with {'var01' : 'Adminstration','var02':'Utilisateur-commercial','var03':tusrcml|length,'var10':'usrcml_creat','var11':'USRCML'} %}
	{% include "usrcml/_tab.html.twig" with {'tuser' : tusrcml} %}

{% endblock %}
>>>>>>> demo
