<<<<<<< HEAD:templates/fournisseur/fouCM.html.twig
{% extends 'base.html.twig' %}

{% block title %}
	{{titre1}}{{titre2}}
{% endblock %}

{% block body %}
	{% include "shared/_breadcrumb_02_fiche.html.twig" with {'var01' : 'Fournisseur','var02':titre1,'var10':'fou_gst'} %}

	{{ form_start(formView) }}
	{{ form_widget(formView) }}
	{% include "shared/_submit_enregistrer.html.twig"%}
	{{form_end(formView)}}
{% endblock %}
=======
{% extends 'base.html.twig' %}

{% block title %}
	{{titre1}}{{titre2}}
{% endblock %}

{% block body %}
	{% include "shared/_breadcrumb_02_fiche.html.twig" with {'var01' : 'Fournisseur','var02':titre1,'var10':'fou_gst'} %}

	{{ form_start(formView) }}
	{{ form_widget(formView) }}
	{% include "shared/_submit_enregistrer.html.twig"%}
	{{form_end(formView)}}
{% endblock %}
>>>>>>> demo:templates/cotation/cotCreat.html.twig
