<<<<<<< HEAD
{% extends "base.html.twig" %}

{% block title %}
	fournisseur
{% endblock %}
{% block body %}

	{% include "shared/_breadcrumb_01.html.twig" with {'var01' : 'Base article','var02':'Fournisseur','var03':tfournisseur|length,'var10':'fou_creat','var11':'FOU'} %}
	{% include "fournisseur/_tab.html.twig" with {'tfournisseur' : tfournisseur} %}


{% endblock %}
=======
{% extends "base.html.twig" %}

{% block title %}
	fournisseur
{% endblock %}
{% block body %}

	{% include "shared/_breadcrumb_01.html.twig" with {'var01' : 'Base article','var02':'Fournisseur','var03':tfournisseur|length,'var10':'fou_creat','var11':'FOU'} %}
	{% include "fournisseur/_tab.html.twig" with {'tfournisseur' : tfournisseur} %}


{% endblock %}
>>>>>>> demo
