<<<<<<< HEAD
<div class="breadcrumb d-flex justify-content-between align-items-center">
	<ol class="breadcrumb mb-0 p-0">
		<li class="breadcrumb-item">
			{{var01}}
		</li>
		<li class="breadcrumb-item active">{{var02}}
			:
			{{var03}}
		</li>
	</ol>
	<div>
		{% if var10 != '' %}
			{# <a href="{{ path('download') }}">
										<button type="button" class="btn btn-secondary btn-sm">
											<span class="glyphicon glyphicon-download"></span>
											<i class="fa fa-download" aria-hidden="true">Télédécharger</i>
										</button>
									</a> #}
			<a href="{{ path('itgfic_exe',{'cod': var11 }) }}">

				<button type="button" class="btn btn-primary btn-sm">
					<span class="glyphicon glyphicon-upload"></span>
					<i class="fa fa-upload" aria-hidden="true">Télécharger</i>
				</button>
			</a>
			<a href="{{ path(var10) }}" class="btn btn-primary btn-sm">
				Ajouter
			</a>
		{% endif %}
	</div>
</div>
=======
<div class="breadcrumb d-flex justify-content-between align-items-center">
	<ol class="breadcrumb mb-0 p-0">
		<li class="breadcrumb-item">
			{{var01}}
		</li>
		<li class="breadcrumb-item active">{{var02}}
			:
			{{var03}}
		</li>
	</ol>
	<div>
		{% if var10 != '' %}
			{# <a href="{{ path('download') }}">
										<button type="button" class="btn btn-secondary btn-sm">
											<span class="glyphicon glyphicon-download"></span>
											<i class="fa fa-download" aria-hidden="true">Télédécharger</i>
										</button>
									</a> #}
			<a href="{{ path('itgfic_exe',{'cod': var11 }) }}">

				<button type="button" class="btn btn-primary btn-sm">
					<span class="glyphicon glyphicon-upload"></span>
					<i class="fa fa-upload" aria-hidden="true">Télécharger</i>
				</button>
			</a>
			<a href="{{ path(var10) }}" class="btn btn-primary btn-sm">
				Ajouter
			</a>
		{% endif %}
	</div>
</div>
>>>>>>> demo
