<<<<<<< HEAD
<div class="breadcrumb d-flex justify-content-between align-items-center">
	<ol class="breadcrumb mb-0 p-0">
		<li class="breadcrumb-item">
			{{var01}}:
			{{var03}}
		</li>

	</ol>
	<div>
		<div class="font-weight-bold">
			{% if tgritarett %}
				Grille tarifaire en cours :
				{{tgritarett.clrOrg.nom}}/{{tgritarett.cod}}
			{% endif %}
		</div>
		{# <a href="{{ path(var10) }}" class="btn btn-success btn-sm">
																																					Ajouter
																																				</a> #}
	</div>
</div>
=======
<div class="breadcrumb d-flex justify-content-between align-items-center">
	<ol class="breadcrumb mb-0 p-0">
		<li class="breadcrumb-item">
			{{var01}}:
			{{var03}}
		</li>

	</ol>
	<div>
		<div class="font-weight-bold">
			{% if tgritarett %}
				Grille tarifaire en cours :
				{{tgritarett.clrcli.nom}}/{{tgritarett.cod}}
			{% endif %}
		</div>
		{# <a href="{{ path(var10) }}" class="btn btn-success btn-sm">
																																					Ajouter
																																				</a> #}
	</div>
</div>
>>>>>>> demo
