<<<<<<< HEAD
<div class="breadcrumb d-flex justify-content-between align-items-center">
	<ol class="breadcrumb mb-0 p-0">
		<li class="breadcrumb-item">
			{{var01}}
		</li>
		<li class="breadcrumb-item active">
			<a href="{{path(var02p) }}">{{var02}}</a>
		</li>
		<li class="breadcrumb-item active">{{var03}}</li>
	</ol>
	<div>
		<button type="button" class="btn btn-primary btn-sm">
			<span class="glyphicon glyphicon-upload"></span>
			<i class="fa fa-upload" aria-hidden="true">Télécharger</i>
		</button>


		<a href="{{ path(var10,{'id':var10id}) }}" class="btn btn-primary btn-sm">
			Ajouter
		</a>
	</div>
</div>
=======
<div class="breadcrumb d-flex justify-content-between align-items-center">
	<ol class="breadcrumb mb-0 p-0">
		<li class="breadcrumb-item">
			{{var01}}
		</li>
		<li class="breadcrumb-item active">
			<a href="{{path(var02p) }}">{{var02}}</a>
		</li>
		<li class="breadcrumb-item active">{{var03}}</li>
	</ol>
	<div>
		{# <button type="button" class="btn btn-primary btn-sm">
			<span class="glyphicon glyphicon-upload"></span>
			<i class="fa fa-upload" aria-hidden="true"> Télécharger</a></i>
		</button> #}


		<a href="{{ path(var10,{'id':var10id}) }}" class="btn btn-primary btn-sm">
			Ajouter
		</a>
	</div>
</div>
>>>>>>> demo
