<<<<<<< HEAD
<ol class="breadcrumb">
	<li class="breadcrumb-item">
		<a href="{{ path(var10)}}">{{var01}}</a>

	</li>

	<li class="breadcrumb-item active">{{var02}}</li>

</ol>
=======
<ol class="breadcrumb">
	<li class="breadcrumb-item">
		<a href="{{ path(var10)}}">{{var01}}</a>

	</li>

	<li class="breadcrumb-item active">{{var02}}</li>

</ol>
>>>>>>> demo
