<<<<<<< HEAD
{{ form_start(form, {attr: {class: 'filter'}}) }}
{# <div class="p-3 mb-2 bg-primary text-white"> #}
<div class="text-primary">
	<button type="submit" class="btn btn-primary w-100">
		Sélectionner</button>
	<h6></h6>
	{% if allow_extra_fields=='02' %}
		<h6>
			Type de liaison
		</h6>
		{{ form_row(form.ttypcpd)}}
	{% endif %}
	{% if allow_extra_fields=='03' %}
		<h6>
			Fournisseur
		</h6>
		{{ form_row(form.tfournisseur)}}
	{% endif %}

	<h6>
		Code article
	</h6>
	{{ form_row(form.codArt)}}
	<h6>
		Référence constructeur

	</h6>
	{{ form_row(form.refCtr)}}
	{% if allow_extra_fields == '01' or allow_extra_fields == '02' or allow_extra_fields == '03' or allow_extra_fields == '04' %}
		<h6>
			Désignation
		</h6>
		{{ form_row(form.lib)}}
		<h6>
			Marque
		</h6>
		{{ form_row(form.tmrqice)}}


		<h6>
			Catégorie
		</h6>
		{{ form_row(form.tctgice)}}
		<h6>
			Sous catégorie
			{{ form_row(form.tsctgice)}}
		</h6>
	{% endif %}
	{% if allow_extra_fields == '01' or allow_extra_fields == '03' %}
		{% include 'shared/_search_x_act.html.twig' with { form: form} %}
		{% include 'shared/_search_dat_creat.html.twig' with { form: form} %}
	{% endif %}
</div>
{{ form_end(form)}}
=======
{{ form_start(form) }}


{# <div class="p-3 mb-2 bg-primary text-white"> #}
<div class="text-primary">
	<button type="submit" class="btn btn-primary w-100">
		Sélectionner</button>
	<h6></h6>
	{% if allow_extra_fields=='02' %}
		<h6>
			Type de liaison
		</h6>
		{{ form_row(form.ttypcpd)}}
	{% endif %}
	{% if allow_extra_fields=='03' %}
		<h6>
			Fournisseur
		</h6>
		{{ form_row(form.tfournisseur)}}
	{% endif %}

	<h6>
		Code article
	</h6>
	{{ form_row(form.codArt)}}
	<h6>
		Référence constructeur

	</h6>
	{{ form_row(form.refCtr)}}
	{% if allow_extra_fields == '01' or allow_extra_fields == '02' or allow_extra_fields == '03' or allow_extra_fields == '04'  or allow_extra_fields == '05' %}
		<h6>
			Désignation
		</h6>
		{{ form_row(form.lib)}}
		<h6>
			Marque
		</h6>
		{{ form_row(form.tmrqice)}}


		<h6>
			Catégorie
		</h6>
		{{ form_row(form.tctgice)}}
		<h6>
			Sous catégorie
			{{ form_row(form.tsctgice)}}
		</h6>
	{% endif %}
	{% if allow_extra_fields == '01' or allow_extra_fields == '03' %}
		{% include 'shared/_search_x_act.html.twig' with { form: form} %}
		{% include 'shared/_search_dat_creat.html.twig' with { form: form} %}
	{% endif %}

	{% if allow_extra_fields == '05' %}
	***************************
		Taux marge
		<table border="0" cellpadding="5px" width="20%" boder="0" style="...">
			<tr>
				<div class="row">
					<th>{{ form_row(form.txMrg) }}</th>
					<th>{{ form_row(form.mrgExe) }}</th>
				</div>
			</tr>

		</table>
	{% endif %}
</div>


{{ form_end(form)}}

<script>

	console.log('lu11');
	var $sport = $('#tctgice');
	console.log($sport);
	// When sport gets selected ...
	$sport.change(function () { // ... retrieve the corresponding form.
		console.log('lu3');
		var $form = $(this).closest('form');
		console.log($form);
		console.log('lu4');

		// Simulate form data, but only include the selected sport value.
		var data = {};
		data[$sport.attr('name')] = $sport.val();

		// Submit data via AJAX to the form's action path.
		$.ajax({
			url: $form.attr('action'),
			type: $form.attr('method'),
			data: data,
			success: function (html) { // Replace current position field ...
				$('#tsctgice').replaceWith(
				// ... with the returned one from the AJAX response.
					$(html).find('#tsctgice')
				);

			// Position field now displays the appropriate positions.
			}
		});
	});
</script>
>>>>>>> demo
