<<<<<<< HEAD
<a href="{{path(var01,{'id': var02,'codFct' : '02' })}}">
	<i class="fas fa-pencil-alt"></i>
</a>
=======
<a href="{{path(var01,{'id': var02,'codFct' : '02' })}}">
	<i class="fas fa-pencil-alt"></i>
</a>
>>>>>>> demo
