<<<<<<< HEAD
<script type="text/javascript">
	function Supp(link) {
if (confirm('Confirmer la suppression ?')) {
document.location.href = link;
}
}
</script>
=======
<script type="text/javascript">
	function Supp(link) {
if (confirm('Confirmer la suppression ?')) {
document.location.href = link;
}
}
</script>
>>>>>>> demo
