<<<<<<< HEAD
<a href="{{path(var01,{'id': var02 })}}" onclick="Supp(this.href); return(false);">
	<i class="fas fa-trash-alt"></i>
</a>
=======
<a href="{{path(var01,{'id': var02 })}}" onclick="Supp(this.href); return(false);">
	<i class="fas fa-trash-alt"></i>
</a>
>>>>>>> demo
