<<<<<<< HEAD
<nav class="navbar navbar-expand-lg navbar-dark bg-primary">
	<a class="navbar-brand" href="/">Accueil</a>
	<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarColor01" aria-controls="navbarColor01" aria-expanded="false" aria-label="Toggle navigation">
		<span class="navbar-toggler-icon"></span>
	</button>

	<div class="collapse navbar-collapse" id="navbarColor01">
{% if is_granted('ROLE_USER') %}
	<ul class="navbar-nav mr-auto">
		{% if is_granted('ROLE_ADMIN') %}
			<li class="nav-item dropdown">
				<a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">Adminstration</a>
				<div class="dropdown-menu">
					<a class="dropdown-item" href="{{ path('usr_gst') }}">Utilisateur</a>
					<a class="dropdown-item" href="{{ path('cml_gst') }}">Commercial</a>
					<a class="dropdown-item" href="{{ path('usrcml_gst') }}">Utilisateur-commercial</a>


</div></li>

{% endif %}
{% if is_granted('ROLE_EXP') %}
	<li class="nav-item dropdown"></li>

<a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">Exploitation</a>
<div class="dropdown-menu">

<a class="dropdown-item" href="{{ path('exp_svi_itgett') }}">Suivi intégration</a></div></li>{% endif %}{% if is_granted('ROLE_MKT')  or is_granted('ROLE_CML') %}<li class="nav-item dropdown"><a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">Donnée de base</a><div class="dropdown-menu">
{% if is_granted('ROLE_MKT') %}
	<a class="dropdown-item" href="{{ path('ctgice_gst') }}">Catégorie</a>

<a class="dropdown-item" href="{{ path('mdl_gst') }}">Modèle</a>

<a class="dropdown-item" href="{{ path('fou_gst') }}">Fournisseur</a>
<a class="dropdown-item" href="{{ path('cot_gst') }}">Cotation</a>

{% endif %}
{% if is_granted('ROLE_MKT')  or is_granted('ROLE_CML') %}

	<a class="dropdown-item" href="{{ path('org_gst') }}">Organisation</a>
	<a class="dropdown-item" href="{{ path('cotorg_gst') }}">Organisation-cotation</a>
	<a class="dropdown-item" href="{{ path('cli_gst') }}">Client</a>
	<a class="dropdown-item" href="{{ path('cotcli_gst') }}">Client-cotation</a>

{% endif %}</div></li>{% endif %}{% if is_granted('ROLE_MKT') or is_granted('ROLE_ACH') %}<li class="nav-item dropdown"><a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">Base article</a><div class="dropdown-menu">
<a class="dropdown-item" href="{{ path('art_gst') }}">Article</a>
{% if is_granted('ROLE_MKT') %}
	<a class="dropdown-item" href="{{ path('artfou_gst') }}">Article-Fournisseur</a>
	<a class="dropdown-item" href="{{ path('artcot_gst') }}">Article-Cotation</a>
	<a class="dropdown-item" href="{{ path('artcpd_gst') }}">Article lié</a>
	<a class="dropdown-item" href="{{ path('artmdl_gst') }}">Article-Modèle</a>


{% endif %}
{% if is_granted('ROLE_ACH') %}
	<a class="dropdown-item" href="{{ path('arttrfadx_gst') }}">Transfert article vers Adonix</a>
{% endif %}

</div></li>

{% endif %}
{% if is_granted('ROLE_CML') %}
	<li class="nav-item active"></li>

<a class="nav-link" href="{{ path('org_gst_bis') }}">Grille tarifaire
	<span class="sr-only">(current)</span>
</a></li>

{% endif %}

<li class="nav-item active">
	<a class="nav-link" href="{{ path('ctl_lstart') }}">Catalogue
		<span class="sr-only">(current)</span>
	</a>
</li>

</ul>

{% endif %}</div>

	<ul class="navbar-nav">
{# {% if is_granted('ROLE_ACH') %}
			<li class="nav-item">
				<a href="{{ path('artadx_pnr') }}" class="nav-link">
					<i class="fas fa-shopping-cart"></i>
					Envoi Adonix
				</a>
			</li>
		{% endif %} #}

{% if is_granted('ROLE_CML') %}

<li class="nav-item">
	<a href="{{ path('gtagst_aff',{'idGta': '0' }) }}" class="nav-link">
		<i class="fas fa-shopping-cart"></i>
		Grille tarifaire
	</a>
</li>

{% endif %}

		{% if app.user %}
			<li class="nav-item">
				<a href="{{ path('security_logout') }}" class="btn btn-danger">Logout</a>
			</li>

		{% else %}
<li class="nav-item"></li>


				<a href="{{ path('security_login') }}" class=" btn btn-success">Login</a>
			</li>

		{% endif %}
	</ul>
</nav>

=======
<nav class="navbar navbar-expand-lg navbar-dark bg-primary">
	<a class="navbar-brand" href="/">Accueil</a>
	<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarColor01" aria-controls="navbarColor01" aria-expanded="false" aria-label="Toggle navigation">
		<span class="navbar-toggler-icon"></span>
	</button>

	<div class="collapse navbar-collapse" id="navbarColor01">
		{% if is_granted('ROLE_USER') %}
			<ul class="navbar-nav mr-auto">
				{% if is_granted('ROLE_ADMIN') %}
					<li class="nav-item dropdown">
						<a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">Adminstration</a>
						<div class="dropdown-menu">
							<a class="dropdown-item" href="{{ path('usr_gst') }}">Utilisateur</a>
							<a class="dropdown-item" href="{{ path('cml_gst') }}">Commercial</a>
							<a class="dropdown-item" href="{{ path('usrcml_gst') }}">Utilisateur-commercial</a>
							<div class="dropdown dropright">

								<div class="dropdown-menu">
									<a class="dropdown-item" href="{{ path('dic_gst') }}">Dictionnaire</a>
									<a class="dropdown-item" href="{{ path('dictab_gst') }}">Tables BDD</a>
									<a class="dropdown-item" href="{{ path('dicdta_gst') }}">Champs BDD</a>
									<a class="dropdown-item" href="{{ path('site_gst') }}">Site entreprise</a>
									<a class="dropdown-item" href="{{ path('service_gst') }}">Service entreprise</a>
									<a class="dropdown-item" href="{{ path('sitweb_gst') }}">Site web</a>
									<a class="dropdown-item" href="{{ path('famcli_gst') }}">Famille client</a>
									<a class="dropdown-item" href="{{ path('soc_gst') }}">Societe</a>
									<a class="dropdown-item" href="{{ path('socgpe_gst') }}">Groupe Societe</a>
									<a class="dropdown-item" href="{{ path('socgpt_gst') }}">Groupement Societe</a>
								</div>
							</div>

							<a class="dropdown-item" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">Données de Base</a>


						</div>
					</li>

				{% endif %}
				{% if is_granted('ROLE_EXP') %}
					<li class="nav-item dropdown">

						<a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">Exploitation</a>
						<div class="dropdown-menu">

							<a class="dropdown-item" href="{{ path('exp_svi_itgett') }}">Suivi intégration</a>
						</div>
					</li>
				{% endif %}

				{% if is_granted('ROLE_MKT')  or is_granted('ROLE_CML') %}
					<li class="nav-item dropdown">
						<a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">Donnée de base</a>
						<div class="dropdown-menu">

							{% if is_granted('ROLE_MKT') %}
								<a class="dropdown-item" href="{{ path('ctgice_gst') }}">Catégorie</a>
								<a class="dropdown-item" href="{{ path('ctgicearb_gst') }}">Catégorie arborescence</a>

								<a class="dropdown-item" href="{{ path('mdl_gst') }}">Modèle</a>
								<a class="dropdown-item" href="{{ path('mrqice_gst') }}">Marque</a>


								<a class="dropdown-item" href="{{ path('fou_gst') }}">Fournisseur</a>
								<a class="dropdown-item" href="{{ path('cot_gst') }}">Cotation</a>

							{% endif %}
							{% if is_granted('ROLE_MKT')  or is_granted('ROLE_CML') %}


								<a class="dropdown-item" href="{{ path('cli_gst') }}">Client</a>
								<a class="dropdown-item" href="{{ path('cotcli_gst') }}">Client-cotation</a>
								<a class="dropdown-item" href="{{ path('cotfamcli_gst') }}">Famille Client-cotation</a>
								<a class="dropdown-item" href="{{ path('org_gst') }}">Organisation (site web)</a>
								<a class="dropdown-item" href="{{ path('cliorg_gst') }}">Client-Organisation site web</a>
								
								
								<div>
									<div class="dropdown dropright">

										<div class="dropdown-menu">
											<a class="dropdown-item" href="{{ path('famcli_gst') }}">Famille client</a>
											<a class="dropdown-item" href="{{ path('soc_gst') }}">Societe</a>
											<a class="dropdown-item" href="{{ path('socgpe_gst') }}">Groupe Societe</a>
											<a class="dropdown-item" href="{{ path('socgpt_gst') }}">Groupement Societe</a>
										</div>
									</div>
								</div>
								<a class="dropdown-item" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">Autres</a>

							{% endif %}

							{% if is_granted('ROLE_MKT') %}{% endif %}


						</div>
					</li>
				{% endif %}
				{% if is_granted('ROLE_MKT') or is_granted('ROLE_ACH') %}
					<li class="nav-item dropdown">
						<a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">Base article</a>
						<div class="dropdown-menu">
							<a class="dropdown-item" href="{{ path('art_gst') }}">Article</a>
							{% if is_granted('ROLE_MKT') %}
								<a class="dropdown-item" href="{{ path('artfou_gst') }}">Article-Fournisseur</a>
								<a class="dropdown-item" href="{{ path('artcot_gst') }}">Article-Cotation obsolete</a>
								<a class="dropdown-item" href="{{ path('artcpd_gst') }}">Article lié</a>
								<a class="dropdown-item" href="{{ path('artmdl_gst') }}">Article-Modèle</a>


							{% endif %}
							{% if is_granted('ROLE_ACH') %}
								<a class="dropdown-item" href="{{ path('arttrfadx_gst') }}">Transfert article vers Adonix</a>
							{% endif %}
							{% if is_granted('ROLE_MKT') %}
								<a class="dropdown-item" href="{{ path('arttrfsitweb_gst') }}">Transfert article vers site web</a>
							{% endif %}


						</div>
					</li>

				{% endif %}
				{% if is_granted('ROLE_CML') %}
					<li class="nav-item active"></li>

					<a class="nav-link" href="{{ path('cli_gst_gta') }}">Grille tarifaire
						<span class="sr-only">(current)</span>
					</a>
				</li>

			{% endif %}

			<li class="nav-item active">
				<a class="nav-link" href="{{ path('ctl_lstart') }}">Catalogue
					<span class="sr-only">(current)</span>
				</a>
			</li>

		</ul>

	{% endif %}
</div>

<ul
	class="navbar-nav">
	{# {% if is_granted('ROLE_ACH') %}
						<li class="nav-item">
							<a href="{{ path('artadx_pnr') }}" class="nav-link">
								<i class="fas fa-shopping-cart"></i>
								Envoi Adonix
							</a>
						</li>
					{% endif %} #}

	{% if is_granted('ROLE_CML') %}

		<li class="nav-item">
			<a href="{{ path('gritarcol_gst',{'idGta': '0' }) }}" class="nav-link">
				<i class="fas fa-shopping-cart"></i>
				Grille tarifaire
			</a>
		</li>

	{% endif %}

	{% if app.user %}
		<li class="nav-item">
			<a href="{{ path('security_logout') }}" class="btn btn-danger">Logout</a>
		</li>

	{% else %}
		<li class="nav-item"></li>


		<a href="{{ path('security_login') }}" class=" btn btn-success">Login</a>
	</li>

{% endif %}</ul></nav>
>>>>>>> demo
