<<<<<<< HEAD
<h6>
	Date de création
</h6>

<div class="row">
	<div class="col">{{ form_row(form.sigDat)}}</div>
	<div class="col">{{ form_row(form.datIns)}}</div>
</div>
=======
<h6>
	Date de création
</h6>

<div class="row">
	<div class="col">{{ form_row(form.sigDat)}}</div>
	<div class="col">{{ form_row(form.datIns)}}</div>
</div>
<h6>
	Créé par
</h6>

<div class="row">
	<div class="col">{{ form_row(form.usrInsEmail)}}</div>
</div>
<div class="row">
	<div class="col">{{ form_row(form.srvDsg)}}</div>
</div>


>>>>>>> demo
