<<<<<<< HEAD
<h6>
	Actif
</h6>

<div class="row">
	<div class="col">{{ form_row(form.xAct)}}</div>
</div>
=======
<h6>
	Actif
</h6>

<div class="row">
	<div class="col">{{ form_row(form.xAct)}}</div>
</div>
>>>>>>> demo
