<<<<<<< HEAD
{% extends "base.html.twig" %}

{% block title %}
	article
{% endblock %}
{% block body %}
	{% include "shared/_breadcrumb_01.html.twig" with {'var01' : 'Base article','var02':'Article-modèle','var03':tartmdl|length,'var10':'artmdl_creat','var11':'ARTMDL'} %}
	<div class="container-fluid">
		<div class="row">
			<div class="col-md-2">
				{% include 'shared/_filtreArt.html.twig' with { form: form} %}</div>
			<div class="col-md-10">
				{% include 'artmdl/_tab.html.twig' with {tartmdl:tartmdl} %}
			</div>
		</div>
	</div>
	<div class="row">
		<div class="col-md-3"></div>
	</div>
{% endblock %}
=======
{% extends "base.html.twig" %}

{% block title %}
	article
{% endblock %}
{% block body %}
	{% include "shared/_breadcrumb_01.html.twig" with {'var01' : 'Base article','var02':'Article-modèle','var03':tartmdl|length,'var10':'artmdl_creat','var11':'ARTMDL'} %}
	<div class="container-fluid">
		<div class="row">
			<div class="col-md-2">
				{% include 'shared/_filtreArt.html.twig' with { form: form} %}</div>
			<div class="col-md-10">
				{% include 'artmdl/_tab.html.twig' with {tartmdl:tartmdl} %}
			</div>
		</div>
	</div>
	<div class="row">
		<div class="col-md-3"></div>
	</div>
{% endblock %}
>>>>>>> demo
