{% extends "base.html.twig" %}

{% block title %}
	{{titre1}}{{titre2}}
{% endblock %}

{% block body %}
	{% include "shared/_breadcrumb_02_fiche.html.twig" with {'var01' : 'Article','var02':titre1,'var10':'art_gst'} %}
	{{ form_start(formView)}}

	{{ form_errors(formView)}}

	{{ form_widget(formView)}}

	{% include "shared/_submit_enregistrer.html.twig"%}
	{{ form_end(formView)}}
{% endblock %}
