<<<<<<< HEAD
{% extends "base.html.twig" %}

{% block title %}
	article
{% endblock %}
{% block body %}

	{% include "shared/_breadcrumb_01.html.twig" with {'var01' : 'Base article','var02':'Article','var03':tarticle|length,'var10':'art_creat','var11':'ARTICLE'} %}

	<div class="row">
		<div class="col-md-2">
			{% include 'shared/_filtreArt.html.twig' with { form: form} %}</div>
		<div class="col-md-10">
			{% include 'article/_tab.html.twig' with {tarticle:tarticle} %}
		</div>
	</div>

	{# <div class="row">
					<div class="col-md-2"></div>
			
				</div> #}
{% endblock %}
=======
{% extends "base.html.twig" %}

{% block title %}
	article
{% endblock %}
{% block body %}

	{% include "shared/_breadcrumb_01.html.twig" with {'var01' : 'Base article','var02':'Article','var03':tarticle|length,'var10':'art_creat','var11':'ARTICLE'} %}

	<div class="row">
		<div class="col-md-2">
			{% include 'shared/_filtreArt.html.twig' with { form: form} %}</div>
		<div class="col-md-10">
			{% include 'article/_tab.html.twig' with {tarticle:tarticle} %}
		</div>
	</div>

	{# <div class="row">
					<div class="col-md-2"></div>
			
				</div> #}
{% endblock %}
>>>>>>> demo
