<<<<<<< HEAD
{% extends "base02.html.twig" %}
{% block title %}
	<p>{{tarticle.cod}}</p>

{% endblock %}
{% block body %}
	{% include "article/_artAff_pdf.html.twig" with {'tarticle' : tarticle} %}


{% endblock %}
=======
{% extends "base02.html.twig" %}
{% block title %}
	<p>{{tarticle.cod}}</p>

{% endblock %}
{% block body %}
	{% include "article/_artAff_pdf.html.twig" with {'tarticle' : tarticle} %}


{% endblock %}
>>>>>>> demo
