<<<<<<< HEAD
<div id="toolbar">
	<button id="remove" class="btn btn-danger" disabled>
		<i class="fa fa-trash"></i>
		Delete
	</button>
</div>
<table id="table" data-toolbar="#toolbar" data-search="true" data-show-refresh="true" data-show-toggle="true" data-show-fullscreen="true" data-show-columns="true" data-show-columns-toggle-all="true" data-detail-view="true" data-show-export="true" data-click-to-select="true" data-minimum-count-columns="2" data-show-pagination-switch="true" data-pagination="true" data-id-field="id" data-page-list="[10, 25, 50, 100, all]" data-show-footer="true" data-side-pagination="server" data-response-handler="responseHandler">
	<thead class="thead-light">
		<tr>
			<th></th>
			<th data-sortable="true">Email</th>
			<th data-sortable="true">Rôle</th>
			<th data-sortable="true">Nom</th>
			<th data-sortable="true">Créé par</th>
			<th data-sortable="true">le</th>
			<th></th>
		</tr>
	</thead>
	<tbody>


		{% for usr in tuser %}
			<tr>
				<td>
					{% include "shared/_icon_edit_row.html.twig" with {'var01' : 'usr_modif','var02':usr.id } %}
				</td>
				<td>
					{{usr.email}}
				</td>
				<td>
					{% for role in usr.roles %}
						{{role}}
					{% endfor %}
				</td>
				<td>{{usr.nom}}</td>
				<td>{{usr.usrIns.nom}}</td>
				<td>{{usr.datIns|date("d/m/Y h:i")}}</td>
				<td>{% include "shared/_icon_supp_row.html.twig" with {'var01' : 'usr_supp','var02':usr.id } %}</td>
			</tr>
		{% endfor %}
	</tbody>
</table>
<script>
	var $table = $('#table')
var $remove = $('#remove')
var selections = []

function getIdSelections() {
return $.map($table.bootstrapTable('getSelections'), function (row) {
return row.id
})
}

function responseHandler(res) {
$.each(res.rows, function (i, row) {
row.state = $.inArray(row.id, selections) !== -1
})
return res
}

function detailFormatter(index, row) {
var html = []
$.each(row, function (key, value) {
html.push('<p><b>' + key + ':</b> ' + value + '</p>')
})
return html.join('')
}

function operateFormatter(value, row, index) {
return [
'<a class="like" href="javascript:void(0)" title="Like">',
'<i class="fa fa-heart"></i>',
'</a>  ',
'<a class="remove" href="javascript:void(0)" title="Remove">',
'<i class="fa fa-trash"></i>',
'</a>'
].join('')
}

window.operateEvents = {
'click .like': function (e, value, row, index) {
alert('You click like action, row: ' + JSON.stringify(row))
},
'click .remove': function (e, value, row, index) {
$table.bootstrapTable('remove', {
field: 'id',
values: [row.id]
})
}
}

function totalTextFormatter(data) {
return 'Total'
}

function totalNameFormatter(data) {
return data.length
}

function totalPriceFormatter(data) {
var field = this.field
return '$' + data.map(function (row) {
return + row[field].substring(1)
}).reduce(function (sum, i) {
return sum + i
}, 0)
}

function initTable() {
$table.bootstrapTable('destroy').bootstrapTable({
height: 550,
locale: $('#locale').val(),
columns: [
[
{
field: 'state',
checkbox: true,
rowspan: 2,
align: 'center',
valign: 'middle'
}, {
title: 'Item ID',
field: 'id',
rowspan: 2,
align: 'center',
valign: 'middle',
sortable: true,
footerFormatter: totalTextFormatter
}, {
title: 'Item Detail',
colspan: 3,
align: 'center'
}
],
[
{
field: 'name',
title: 'Item Name',
sortable: true,
footerFormatter: totalNameFormatter,
align: 'center'
}, {
field: 'price',
title: 'Item Price',
sortable: true,
align: 'center',
footerFormatter: totalPriceFormatter
}, {
field: 'operate',
title: 'Item Operate',
align: 'center',
clickToSelect: false,
events: window.operateEvents,
formatter: operateFormatter
}
]
]
})
$table.on('check.bs.table uncheck.bs.table ' + 'check-all.bs.table uncheck-all.bs.table', function () {
$remove.prop('disabled', ! $table.bootstrapTable('getSelections').length)

// save your data, here just save the current page
selections = getIdSelections()
// push or splice the selections if you want to save all data selections
})
$table.on('all.bs.table', function (e, name, args) {
console.log(name, args)
})
$remove.click(function () {
var ids = getIdSelections()
$table.bootstrapTable('remove', {
field: 'id',
values: ids
})
$remove.prop('disabled', true)
})
}

$(function () {
initTable()

$('#locale').change(initTable)
})
</script>
=======
<div id="toolbar">
	<button id="remove" class="btn btn-danger" disabled>
		<i class="fa fa-trash"></i>
		Delete
	</button>
</div>
<table id="table" data-toolbar="#toolbar" data-search="true" data-show-refresh="true" data-show-toggle="true" data-show-fullscreen="true" data-show-columns="true" data-show-columns-toggle-all="true" data-detail-view="true" data-show-export="true" data-click-to-select="true" data-minimum-count-columns="2" data-show-pagination-switch="true" data-pagination="true" data-id-field="id" data-page-list="[10, 25, 50, 100, all]" data-show-footer="true" data-side-pagination="server" data-response-handler="responseHandler">
	<thead class="thead-light">
		<tr>
			<th></th>
			<th data-sortable="true">Email</th>
			<th data-sortable="true">Rôle</th>
			<th data-sortable="true">Nom</th>
			<th data-sortable="true">Créé par</th>
			<th data-sortable="true">le</th>
			<th></th>
		</tr>
	</thead>
	<tbody>


		{% for usr in tuser %}
			<tr>
				<td>
					{% include "shared/_icon_edit_row.html.twig" with {'var01' : 'usr_modif','var02':usr.id } %}
				</td>
				<td>
					{{usr.email}}
				</td>
				<td>
					{% for role in usr.roles %}
						{{role}}
					{% endfor %}
				</td>
				<td>{{usr.nom}}</td>
				<td>{{usr.usrIns.nom}}</td>
				<td>{{usr.datIns|date("d/m/Y h:i")}}</td>
				<td>{% include "shared/_icon_supp_row.html.twig" with {'var01' : 'usr_supp','var02':usr.id } %}</td>
			</tr>
		{% endfor %}
	</tbody>
</table>
<script>
	var $table = $('#table')
var $remove = $('#remove')
var selections = []

function getIdSelections() {
return $.map($table.bootstrapTable('getSelections'), function (row) {
return row.id
})
}

function responseHandler(res) {
$.each(res.rows, function (i, row) {
row.state = $.inArray(row.id, selections) !== -1
})
return res
}

function detailFormatter(index, row) {
var html = []
$.each(row, function (key, value) {
html.push('<p><b>' + key + ':</b> ' + value + '</p>')
})
return html.join('')
}

function operateFormatter(value, row, index) {
return [
'<a class="like" href="javascript:void(0)" title="Like">',
'<i class="fa fa-heart"></i>',
'</a>  ',
'<a class="remove" href="javascript:void(0)" title="Remove">',
'<i class="fa fa-trash"></i>',
'</a>'
].join('')
}

window.operateEvents = {
'click .like': function (e, value, row, index) {
alert('You click like action, row: ' + JSON.stringify(row))
},
'click .remove': function (e, value, row, index) {
$table.bootstrapTable('remove', {
field: 'id',
values: [row.id]
})
}
}

function totalTextFormatter(data) {
return 'Total'
}

function totalNameFormatter(data) {
return data.length
}

function totalPriceFormatter(data) {
var field = this.field
return '$' + data.map(function (row) {
return + row[field].substring(1)
}).reduce(function (sum, i) {
return sum + i
}, 0)
}

function initTable() {
$table.bootstrapTable('destroy').bootstrapTable({
height: 550,
locale: $('#locale').val(),
columns: [
[
{
field: 'state',
checkbox: true,
rowspan: 2,
align: 'center',
valign: 'middle'
}, {
title: 'Item ID',
field: 'id',
rowspan: 2,
align: 'center',
valign: 'middle',
sortable: true,
footerFormatter: totalTextFormatter
}, {
title: 'Item Detail',
colspan: 3,
align: 'center'
}
],
[
{
field: 'name',
title: 'Item Name',
sortable: true,
footerFormatter: totalNameFormatter,
align: 'center'
}, {
field: 'price',
title: 'Item Price',
sortable: true,
align: 'center',
footerFormatter: totalPriceFormatter
}, {
field: 'operate',
title: 'Item Operate',
align: 'center',
clickToSelect: false,
events: window.operateEvents,
formatter: operateFormatter
}
]
]
})
$table.on('check.bs.table uncheck.bs.table ' + 'check-all.bs.table uncheck-all.bs.table', function () {
$remove.prop('disabled', ! $table.bootstrapTable('getSelections').length)

// save your data, here just save the current page
selections = getIdSelections()
// push or splice the selections if you want to save all data selections
})
$table.on('all.bs.table', function (e, name, args) {
console.log(name, args)
})
$remove.click(function () {
var ids = getIdSelections()
$table.bootstrapTable('remove', {
field: 'id',
values: ids
})
$remove.prop('disabled', true)
})
}

$(function () {
initTable()

$('#locale').change(initTable)
})
</script>
>>>>>>> demo
