<<<<<<< HEAD
<table class="table" data-toggle="table" data-search="true" data-show-columns="true" data-show-pagination-switch="true" data-pagination="true" data-id-field="cod" data-page-list="[50, 100, all]" data-show-export="true" data-click-to-select="true" data-response-handler="responseHandler">
	<thead class="thead-light">
		<tr>
			<th width="10%" data-sortable="true">Code</th>
			<th width="30%" data-sortable="true">Désignation</th>
			<th width="15%" data-sortable="true">Catégorie</th>
			<th width="15%" data-sortable="true">Sous catégorie</th>
			{# <th>marque</th> #}
			<th width="10%" data-sortable="true">Présent dans grille tarifaire</th>
			{% if is_granted('ROLE_CML') %}
				<th width="10%">Ajout dans grille tarifaire</th>
			{% elseif is_granted('ROLE_ACH') %}
				<th width="10%">Création adonix</th>
			{% endif %}
			<th width="10%">Test</th>
		</tr>
	</thead>

	<tbody>

		{% for art in tarticle %}
			<tr>
				<td>
					<a href="{{path('art_aff',{'id': art.id })}}">{{art.cod}}</a>
				</td>
				<td>{{art.libCrtFr}}</td>
				{% if art.clrCtgice is not null %}
					<td>{{art.clrCtgice.clrNiv1.dsg}}</td>
					<td>{{art.clrCtgice.clrNiv2.dsg}}</td>
				{% else %}
					<td></td>
					<td></td>
				{% endif %}

				<td></td>
				<td>
					{% if is_granted('ROLE_CML') %}
						<a href="{{path('gta_art_ajt',{'id':art.id})}}" class="btn btn-link js-ajt">Ajouter</a>
					{% elseif is_granted('ROLE_ACH') %}
						<a href="{{path('adx_art_ajt',{'id':art.id})}}" class="btn btn-link js-ajt">Ajouter</a>
					{% endif %}
				</td>

			</tr>

		{% endfor %}
	</tbody>
</table>
=======
<table class="table" data-toggle="table" data-search="true" data-show-columns="true" data-show-pagination-switch="true" data-pagination="true" data-id-field="cod" data-page-list="[50, 100, all]" data-show-export="true" data-click-to-select="true" data-response-handler="responseHandler">
	<thead class="thead-light">
		<tr>
			<th width="10%" data-sortable="true">Code</th>
			<th width="30%" data-sortable="true">Désignation</th>
			<th width="15%" data-sortable="true">Catégorie</th>
			<th width="15%" data-sortable="true">Sous catégorie</th>
			{# <th>marque</th> #}
			<th width="10%" data-sortable="true">Présent dans grille tarifaire</th>
			{% if is_granted('ROLE_CML') %}
				<th width="10%">Ajout dans grille tarifaire</th>
			{% elseif is_granted('ROLE_ACH') %}
				<th width="10%">Création adonix</th>
			{% endif %}
			<th width="10%">Test</th>
		</tr>
	</thead>

	<tbody>

		{% for art in tarticle %}
			<tr>
				<td>
					<a href="{{path('art_aff',{'id': art.id })}}">{{art.cod}}</a>
				</td>
				<td>{{art.libCrtFr}}</td>
				{% if art.clrCtgice is not null %}
					<td>{{art.clrCtgice.clrNiv1.dsg}}</td>
					<td>{{art.clrCtgice.clrNiv2.dsg}}</td>
				{% else %}
					<td></td>
					<td></td>
				{% endif %}

				<td></td>
				<td>
					{% if is_granted('ROLE_CML') %}
						<a href="{{path('gta_art_ajt',{'id':art.id})}}" class="btn btn-link js-ajt">Ajouter</a>
					{% elseif is_granted('ROLE_ACH') %}
						<a href="{{path('adx_art_ajt',{'id':art.id})}}" class="btn btn-link js-ajt">Ajouter</a>
					{% endif %}
				</td>

			</tr>

		{% endfor %}
	</tbody>
</table>
>>>>>>> demo
