<<<<<<< HEAD
{% extends "base.html.twig" %}

{% block title %}Catalogue
{% endblock %}
{% block body %}

	{% include "shared/_breadcrumb_00_ctl.html.twig" with {'var01' : 'Catalogue','var03':tarticle|length,'var10':'art_ajt',tgritarett:tgritarett} %}
	<div class="row">
		<div class="col-2">
			{% include 'shared/_filtreArt.html.twig' with { form: form} %}
		</div>
		<div class="col-10">
			<table class="table table-sm">
				<thead class="thead-light">
					<tr>
						<th width="10%" data-sortable="true">Code</th>
						<th width="30%" data-sortable="true">Désignation</th>
						<th width="20%" data-sortable="true">Catégorie</th>
						<th width="20%" data-sortable="true">Sous catégorie</th>
						{# <th>marque</th> #}
						{% if is_granted('ROLE_CML') %}
							<th width="10%">Grille tarifaire</th>
						{% elseif is_granted('ROLE_ACH') %}
							<th width="10%">Adonix</th>
						{% endif %}
					</tr>
				</thead>

				<tbody>

					{% for art in tarticle %}
						<tr>
							<td>
								<a href="{{path('art_aff',{'id': art.id })}}">{{art.cod}}</a>
							</td>
							<td>{{art.libCrtFr}}</td>
							{% if art.clrCtgice is not null %}
								<td>{{art.clrCtgice.clrNiv1.dsg}}</td>
								<td>{{art.clrCtgice.clrNiv2.dsg}}</td>
							{% else %}
								<td></td>
								<td></td>
							{% endif %}

							{% set vBtn='Ajouter' %}
							{% if art.chpTrv == 'OK' %}
								{% set vBtn='Supprimer' %}
							{% endif %}

							<td>

								{% if is_granted('ROLE_CML') %}

									{% if vBtn=='Ajouter' %}
										<a href="{{path('gta_art_ajt',{'id':art.id})}}" class="js-status">
											<button class="btn btn-primary btn-sm">Ajouter</button>
										</a>
									{% else %}
										<a href="{{path('gta_art_supp',{'id':art.id})}}" class="js-status">
											<button class="btn btn-secondary btn-sm">Supprimer</button>
										</a>
									{% endif %}


								{% elseif is_granted('ROLE_ACH') %}

									{% if vBtn=='Ajouter' %}
										<a href="{{path('adx_art_ajt',{'id':art.id})}}" class="js-status">
											<button class="btn btn-primary btn-sm">Ajouter</button>
										</a>
									{% else %}
										<a href="{{path('adx_art_supp',{'id':art.id})}}" class="js-status">
											<button class="btn btn-secondary btn-sm">Supprimer</button>
										</a>
									{% endif %}


								{% endif %}
							</td>
						</tr>

					{% endfor %}
				</tbody>

			</table>
			{# {% include 'catalogue/_tabCtlArt.html.twig' with {tarticle:tarticle} %} #}
		</div>
	</div>

	<script>

		function onClickBtnAjt(event) {
event.preventDefault();
const url = this.href;
const btn = this.querySelector('button');
console.log(btn);
axios.get(url).then(function (response) {
if (btn.classList.contains('btn-primary')) {
btn.classList.replace('btn-primary', 'btn-secondary');

btn.firstChild.data = "Supprimer";
} else {
btn.classList.replace('btn-secondary', 'btn-primary');
btn.firstChild.data = "Ajouter";
}


console.log('lu5');


console.log(response);
}).catch(function (error) {
if (error.response.status === 403) {
window.alert("Erreur");
}
});
}

console.log('lu2');
document.querySelectorAll('a.js-status').forEach(function (link) {
console.log('lu3');
link.addEventListener('click', onClickBtnAjt);
})
	</script>
{% endblock %}
=======
{% extends "base.html.twig" %}

{% block title %}Catalogue
{% endblock %}
{% block body %}

	{% include "shared/_breadcrumb_00_ctl.html.twig" with {'var01' : 'Catalogue','var03':tarticle|length,'var10':'art_ajt',tgritarett:tgritarett} %}
	<div class="row">
		<div class="col-2">
			{% include 'shared/_filtreArt.html.twig' with { form: form} %}
		</div>

		<div class="col-10">
			{% include 'catalogue/_tabCtl.html.twig' with {tarticle:tarticle} %}
		</div>
	</div>

{% endblock %}
>>>>>>> demo
